.main {
    width: 108.01rem;
    margin: 0 auto;  
}

.main__block1 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding-top: 4rem; 
    margin-bottom: 10.31rem;
}

.main__block1-text {
    padding-left: 13.2rem;
    padding-top: 3.1rem;
}

.main__block1-title {
font-family: $second-family;
font-weight: 600;
font-size: 2.5rem;
line-height: 145%;
color: #2e2e34;
margin-bottom: 3.3rem;

& span {
    color: #a6998e;
}
}

.main__block1-items {
    margin-left: 1.66rem;
    margin-bottom: 3.2rem;
}
    
.main__block1-item {
padding-bottom: 1.25rem;   
list-style-type: disc;    
font-family: $font-family;

font-weight: 400;
font-size: 1.12rem;
line-height: 140%;
color: #2e2e34;

}

.main__block1-button {
display: flex;
justify-content: center;
align-items: center;
width: 23.62rem;
height: 3.25rem;  
border-radius: 0.125rem;
font-family: $font-family;
font-weight: 400;
font-size: 1rem;
background: #8c8580;
text-transform: uppercase;
text-align: center;
color: #fff;
transition: background 0.3s ease-in-out;

&:hover {
    background: #756f6b;
}

}

.main__block1-image {
border-radius: 0.25rem;
width: 53.5rem;
height: 40.12rem;
background-image: url(./../img/image4.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}